<%= simple_form_for([:admin, @offer]) do |f| %>
  <%= f.input :advertiser_name %>
  <%= f.input :url %>
  <%= f.input :description, as: :text %>
  <%= f.input :starts_at, as: :datetime %>
  <span class='font-weight-lighter'>UTC TIMEZONE</span>
  <%= f.input :ends_at, as: :datetime, include_blank: true %>
  <span class='font-weight-lighter'>UTC TIMEZONE</span>
  <%= f.input :premium, as: :boolean %>
  <%= f.button :submit %>
<% end %>
